* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    background: white;
    padding: 10px 0;
    /* box-shadow: rgba(red, rgba(0, 128, 0, 0.432), blue, alpha) 0 0 5px 0; */
    box-shadow: 6px 0px 5px 6px rgb(235, 234, 234)
}

.search {
    height: 30px;
    width: 300px;
    margin-right: 1rem;
}

.Bag {
    margin-right: 3rem;
}

.img {
    height: 52px;
    width: 130px;
}

.section1-img {
    width: 100%;
}

.active {
    /* display: ; */
    visibility: visible;
}

.hidden {
    /* visibility: hidd; */
    display: none;
}

.section2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* background-color: #2196F3; */
    /* padding: 10px; */
    /* height: 50vh; */
}
.section2-item{
    /* background: red; */
    /* border: 1px solid black; */
    /* background: rgb(236, 235, 235);
     */
     background: #e6e0f4;
    margin: .5rem;
    border-radius: 1px;
    padding: 2rem 1rem 0 1rem;
}
.item-img{
    width: 100%;
    border-radius: .5rem;
}

.b-logo{
    width: 80px;
    height: 30px;
}

.off{
    margin: 0 0 2rem 0;
}
